.background{
    -fx-background-color: #F5F6FA
}
.add_button{
    -fx-background-color: #FF6B35
}
.filter_button{
    -fx-background-color: #e1e1e1
}
.table_view_background{
    -fx-background-color: #ffffff
}
